	<%= f.label :title %>
 	<%= f.text_field :title, :class => "input-block-level" %>
	<%= errors_for(@errors, :title) %>
  <%= f.label :location %>
  <%= f.text_field :location, :class => "input-block-level" %>
	<%= errors_for(@errors, :location) %>
	<%= f.label :required_experience %>
	<%= f.number_field :required_experience, min: 0, :class => "input-block-level" %>
	<%= errors_for(@errors, :required_experience) %>
	<%= f.label :description %>
  <%= f.text_area :description, :class => "input-block-level" %>
	<%= errors_for(@errors, :description) %>

  <br/>
